:root {
  --main-color: #212121;
  --secondary-color: #ffffff;
  --hover-color: #2196f3;
  --description-color: #757575;
  --hero-footer-bg-color: #2f303a;
  --main-bg-color: #ffffff;
  --web-color: #2196f3;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/*==========HEADER==========*/
.page-header {
  background-color: var(--main-bg-color);
}

.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: var(--web-color);
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}

/*==========HERO==========*/
.hero {
  background-color: var(--hero-footer-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: #2196f3;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/*==========BENEFITS==========*/

.benefits-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*==========WHOT-WE-DO==========*/

/*==========TEAM==========*/
.team {
  background-color: #f5f4fa;
}
.team-item {
  background-color: var(--main-bg-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.team-profession {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*=========FOOTER===========*/
.footer {
  background-color: var(--hero-footer-bg-color);
}
.footer > .logo {
  color: var(--secondary-color);
}
.address {
  font-style: inherit;
}
.address-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.mail-link,
.tel-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--hover-color);
}
/*========PORTFOLIO MAIN=========*/
.portfolio-button {
  background-color: #f5f4fa;
}
.portfolio-button:hover,
.portfolio-button:focus {
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--secondary-color);
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
